<form action="">
    <div class="container w-50 mt-4">
        <div class="row mb-2">
            <h5>Crea tu cuenta</h5>
        </div>

        <div class="row">
            <label for="email">Email</label>
            <input type="text" placeholder="Introduce Email" name="email" id="email" class="py-2 mb-3" required>

            <label for="psw">Contraseña</label>
            <input type="password" placeholder="Introduce contraseña" name="psw" id="psw" class="py-2 mb-3" required>

            <label for="psw">Repite tu contraseña</label>
            <input type="password" placeholder="Repite tu contraseña" name="psw" id="psw" class="py-2 mb-3" required>


            <button type="submit" class="btn-01 mt-3">Crear cuenta</button>
        </div>
    </div>

    <div class="container text-center fs-6 mt-4 mb-4">
        <p class="text-sm m-0">¿Ya tienes cuenta?
            <a class="text-sm ms-1" routerLink="../login">Inicia sesión</a>
        </p>
    </div>
</form>