<div class="d-flex justify-content-center align-items-center auth-container">
        <div class="w-50">
            <div class="d-flex justify-content-center">
                <a class="auth-text px-4" routerLink="login" routerLinkActive="active">
                    Inicia sesión
                </a>
                <a class="auth-text px-4" routerLink="register" routerLinkActive="active">
                    Regístrate
                </a>                
            </div>
            
            <router-outlet></router-outlet>
        </div>

</div>

