<nav>
    <div class="m-1">Logo</div>
    <ul class="nav justify-content-end me-4">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sitios de interés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mapa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Iniciar sesión</a>
        </li>
    </ul>
</nav>