<form action="">
    <div class="container w-50 mt-4">
        <div class="row mb-2">
            <h5>Inicia sesión</h5>
        </div>
      
        <div class="row">
            <label for="email">Email</label>
            <input type="text" placeholder="Introduce Email" name="email" id="email" class="py-2 mb-3" required>
        
            <label for="psw">Contraseña</label>
            <input type="password" placeholder="Introduce contraseña" name="psw" id="psw" class="py-2 mb-3" required>
            
            <div class="row align-items-center mb-3">
                <input class="form-check-input m-0 p-0" type="checkbox" value="" id="flexCheckDefault">
                <p class="col p-0 m-0 ms-2">Mantener la sesión iniciada</p>
            </div>
            <button type="submit" class="btn-01">Iniciar sesión </button>
        </div>
    </div>
  
    <div class="container text-center fs-6 mt-4 mb-4">
      <a href="#" class="text-sm">¿Has olvidado tu contraseña?</a>
    </div>
  </form>
  
